/**
 *  CSS Styles for Lullablog feature
 */

.node-lullablog .field-name-field-lullablog-subtitle {
	font-size: 1.1em;
	font-family: sans-serif;
	margin: 1em 0;
	text-transform: uppercase;
}

.node-lullablog .field-name-field-lullablog-entry-image {
	float: right;
	margin: 0 0 1em 1em;
}

.node-lullablog .field-name-field-lullablog-entry-image img {
	border: 2px solid #999;
	float: right;
	padding: 2px;
	margin: 0 0 12px 12px;
}